<section id="detail-wrapper" class="<%= item.class %>">
    <div class="left">
        <div class="color-theme <%= item.class %>"></div>

        <h1 id="details-h1">
            <%= item.naam %>
        </h1>

        <% if (item.ondertitel) { %>
            <h2 class="details-subtitle">
                <%= item.ondertitel %>
            </h2>
            <% } %>

                <% if (item.korte_beschrijving) { %>
                    <p id="korte-beschrijving"><%- item.korte_beschrijving.replace(/\n/g, "<br>" ) %></p>
                    <% } %>

                        <% if (item.toepassing) { %>
                            <p><strong>Toepassing:</strong><br> <%- item.toepassing.replace(/\n/g, "<br>" ) %></p>
                            <% } %>
    </div>

    <div class="right">

        <% if (item.rel_jaar || item.moeilijkheid) { %>
            <div class="section-partial-right">
                <h3>Materiaal</h3>
                <% if (item.rel_jaar) { %>
                    <p><strong>Jaar:</strong>
                        <%= item.rel_jaar %>
                    </p>
                    <% } %>
                        <% if (item.moeilijkheid) { %>
                            <p><strong>Moeilijkheid:</strong>
                                <%= item.moeilijkheid %>
                            </p>
                            <% } %>
            </div>
            <% } %>

                <% if (item.schrijver_of_bron) { %>
                    <div class="section-partial-right">
                        <h3>Bron / schrijver</h3>
                        <p>
                            <%= item.schrijver_of_bron %>
                        </p>
                    </div>
                    <% } %>

                        <% if (item.soort || item.rel_principe || item.rel_competentie || item.rel_vakgebied) { %>
                            <div class="section-partial-right">
                                <h3>Soort</h3>
                                <% if (item.soort) { %>
                                    <p>
                                        <%= item.soort %>
                                    </p>
                                    <% } %>
                                        <% if (item.rel_principe) { %>
                                            <p>
                                                <%= item.rel_principe %>
                                            </p>
                                            <% } %>
                                                <% if (item.rel_competentie) { %>
                                                    <p>
                                                        <%= item.rel_competentie %>
                                                    </p>
                                                    <% } %>
                                                        <% if (item.rel_vakgebied) { %>
                                                            <p>
                                                                <%= item.rel_vakgebied %>
                                                            </p>
                                                            <% } %>
                            </div>
                            <% } %>

                                <% if (item.meer_op_web) { %>
                                    <a href="<%= item.meer_op_web %>" target="_blank" class="web-button">Meer op web</a>
                                    <% } %>

    </div>

</section>

<section id="gerelateerd-wrapper">
    <h3>Gerelateerde elementen</h3>
    <ul>
        <% if (item.rel_beroepstaak) { %>
            <li><strong>Beroepstaak:</strong> <%- item.rel_beroepstaak %></li>
            <% } %>
                <% if (item.rel_cmd_expertise) { %>
                    <li><strong>CMD Expertise:</strong> <%- item.rel_cmd_expertise %></li>
                    <% } %>
    </ul>
</section>