<a class="back-button" href="/">Terug naar overzicht</a>

<h1>Opgeslagen Kaarten</h1>

<% if (results.length> 0) { %>
    <ul class="results">
        <% results.forEach(result=> { %>
            <li data-id="<%= result.id %>">
                <div id="themaExpertise" class="color-theme <%= result.class %>"></div>
                <p id="themaSoort" class="color-theme <%= result.class %>">
                    <%= result.soort %>
                </p>
                <h2>
                    <%= result.naam %>
                </h2>
                <p>
                    <%= result.korte_beschrijving %>
                </p>
                <a href="/item/<%= result.id %>">lees meer<span class="visually-hidden">over <%= result.soort %>
                            <%= result.naam %> </span> </a>
                <button>
                    <svg viewBox="0 0 24 24">
                        <path d="M6 4v16l6-6 6 6V4z"></path>
                    </svg>
                </button>

            </li>
            <% }) %>
    </ul>

    <% } else { %>
        <p>Geen resultaten gevonden</p>
        <% } %>