<h1>Opgeslagen Kaarten</h1>

<% if (results.length> 0) { %>
    <ul class="results">
        <% results.forEach(result=> { %>
            <li data-id="<%= result.id %>">
                <div>
                    <div class="color-theme <%= result.class %>"></div>
                    <button aria-label="Verwijder uit opgeslagen">
                        <svg viewBox="0 0 24 24">
                            <path d="M6 4v16l6-6 6 6V4z"></path>
                        </svg>
                    </button>
                </div>
                <section>
                    <h2>
                        <%= result.naam %>
                    </h2>
                    <p>
                        <%= result.korte_beschrijving %>
                    </p>
                </section>
                <a href="/item/<%= result.id %>">lees meer</a>
            </li>
            <% }) %>
    </ul>
    <% } else { %>
        <p>Je hebt nog niks opgeslagen.</p>
        <% } %>