<section class="filters">
  <label>Filters
    <input type="checkbox">
  </label>
  <form method="GET" action="/" class="searchFilter">
    <% Object.entries(filters).forEach(([veld, opties])=> { %>
    <fieldset>
      <legend><%= veld %></legend>
      <% opties.forEach(optie=> { const checkedValues =
      Array.isArray(query[veld]) ? query[veld] : (query[veld] ? [query[veld]] :
      []); const isChecked = checkedValues.includes(optie); %>
      <label>
        <input type="checkbox" name="<%= veld %>" value="<%= optie %>"
        <%=isChecked ? "checked" : "" %>> <%= optie %>
      </label>
      <% }) %>
    </fieldset>
    <% }) %>
  </form>
</section>

<section class="search">
  <ul id="messages">
    <button id="clearChat">clear chat</button>
    <li class="welcome">
      <h2>Hallo! Ik ben Kai,</h2> je persoonlijke gids voor CMD. Waar ben je vandaag naar
      op zoek – een theorie, methode, vakgebied of iets heel anders?
    </li>
  </ul>

  <div>
    <button type="button" id="toggleChat">bekijk chat</button>

    <form id="search-form">
      <input
        id="search-input"
        autocomplete="off"
        placeholder="Wat is je vraag?"
      />
      <button type="submit">
        <svg
          xmlns:xlink="http://www.w3.org/1999/xlink"
          alt="Search"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          style="transform: scale(1)"
        >
          <path
            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
            fill="#6b6b6b"
          ></path>
        </svg>
      </button>
    </form>
  </div>
</section>

<%- include('components/result-list', { filters, results, query }) %>

<script src="/js/toggle-chat.js"></script>
<script src="/js/showActiveFilters.js"></script>
