<details class="custom-summary">
  <summary>Filters</summary>
  <form method="GET" action="/">
    <% Object.entries(filters).forEach(([veld, opties])=> { %>
    <fieldset>
      <legend><%= veld %></legend>
      <% opties.forEach(optie=> { const checkedValues =
      Array.isArray(query[veld]) ? query[veld] : (query[veld] ? [query[veld]] :
      []); const isChecked = checkedValues.includes(optie); %>
      <label>
        <input type="checkbox" name="<%= veld %>" value="<%= optie %>"
        <%=isChecked ? "checked" : "" %>> <%= optie %>
      </label>
      <% }) %>
    </fieldset>
    <% }) %>
    <button type="submit">Filteren</button>
  </form>
</details>

<section class="search">
  <ul id="messages">
    <li class="assistant">Waarmee kan ik je helpen?</li>
  </ul>

  <div>
    <form id="search-form">
      <input
        id="search-input"
        autocomplete="off"
        placeholder="Wat is je vraag?"
      />
      <button type="submit">
        <svg
          xmlns:xlink="http://www.w3.org/1999/xlink"
          alt="Search"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          style="transform: scale(1)"
        >
          <path
            d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
            fill="#283237"
          ></path>
        </svg>
      </button>
    </form>

    <button type="button" id="toggleChat">bekijk chat</button>
    <button type="button" id="clearChat">clear chat</button>
  </div>
</section>

<!-- // hier moet de uiteindelijke structuur van annika in -->
<% if (results.length> 0) { %>
<ul class="results">
  <% results.forEach(result=> { %>
  <li>
    <div >
      <div id="themaExpertise" class="color-theme <%= result.class %>"></div>
    </div>
      <p id="themaSoort" class="color-theme <%= result.class %>"><%= result.soort %></p>
      <h2><%= result.naam %></h2>
      <p><%= result.korte_beschrijving %></p>
    <a href="/item/<%= result.id %>">lees meer<span class="visually-hidden">over <%= result.naam %> </span> </a>
    <button>
      <svg viewBox="0 0 24 24">
    <path d="M6 4v16l6-6 6 6V4z"></path>
    </svg>   
    </button>
  </li>
  <% }) %>
</ul>

<% } else if (query) { %>
<p>Geen resultaten gevonden</p>
<% } %>
